<section>
<h2>About pi</h2>
<p>(...yes...it's about time)</p>
</section>
<section>
  <article>
    <p>Since the dawn of time, which, incidentally, I checked out yesterday,
      man has longed to move from one place to another. The wheel
      became the game changer to prehistoric man. Pi innovated the
      second-generation wheel with the creation of the time flux capacitor.</p>
    <p>Inspired by a fictional device in a 20th-century movie that has long
      been forgotten, the flux capacitor turns normal physics on it's head.
      Our lead scientist, Dr. M. Ed. Von Braun, is still inverted. The state
      of time travel is the best it's ever been. It's safer, less expensive, and
      less susceptible to altering important events in human history. And most
      time travelers report even retaining some memory of their journey. That
      could be you!</p>
    <p>Pi, inc., continues to be a leader in this industry. As long as our
      infinite patent on time trave technology stands up in interstellar courts,
      we will continue to offer time travel on an exclusive basis.</p>
  </article>
</section>
