<section>
  <h2>Hello, do you belong here?</h2>
</section>
<section>
  <article>
  <h3>If the answer is yes, then welcome!</h3>
  <p>You may begin your journey <a href='/travel'>now!</a>
  <h3 class='warning'>If the answer is no, YOU are OUT OF TIME!</h3>
  </article>
</section>
