<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Time Travel Incorporated</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <h1>Time Travel Inc.</h1>
      </header>
      <main>

        <%= yield %> <!-- erb file goes here -->

      </main>
      <footer>&copy; 2015 Time Travel, Inc.</footer>
    </div>

  </body>
</html>
