<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Time Travel Incorporated</title>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <h1>Time Travel Inc.</h1>
        <nav>
          <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/howitworks'>How It Works</a></li>
            <li><a href='/pricing'>Pricing</a></li>
            <li><a href='/about'>About</a></li>
            <li><a href='/contact'>Contact Us</a></li>
          </ul>
        </nav>
      </header>
      <main>

        <%= yield %> <!-- erb file goes here -->

      </main>
      <footer>&copy; 2015 Time Travel, Inc.</footer>
    </div>

  </body>
</html>
