<section>
  <h3>Add funds to your PointPay payment account here.</h3>
</section>
<section>
    <article>
      <p>Place your right finger on the screen in the circle below. By doing so
         you authorize funds to be transferred from your account at a recognized
        banking institution to pi incorporated.</p>
      <div id="pay-circle"></div>
    </article>
    <article>
      <p>If you lack a PointPay nanochip in your right pointer finger
        or your account has somehow been terminated, please see your nearest
        PointPay station, located in most grocery stores and pharmacies,
        beginning June 30, 2039.</p>
    </article>
</section>
