// Font Family
$baseFontFamily: 'Georgia','serif';

//Colors

$baseFontColor: rgb(215, 223, 233);
$logoFontColor: rgb(244, 254, 69);
$headerColor: rgb(52, 28, 73);
$bodyColor: rgb(216, 213, 241);

// Sizes
$bodyFontSize: 16px;
$logoFontSize: 3rem;
$footerFontSize: .8rem;
